*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: brown;
    font-weight: 10;
}
h1, p{
    text-align: center;
    color:white;
}
ol li{
    line-height: 24px;
    color:white;
    font-size: 13px;
    text-align: center;
}